<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}}
    </div>
    <div class="text">
      {{commentText}}
    </div>
  </section>
  {{/each}}
</div>